@using System.Globalization
@model CalculatorViewModel
@{
    ViewData["Title"] = "Home Page";
}

<form method="post">
    @Html.ValidationSummary()
    <input class="operand" asp-for="LeftOperand"/>
    @Html.ValidationMessageFor(model => model.LeftOperand)
    <div>
        @foreach (var modelOperator in Model.Operators)
        {
            <input asp-for="SelectedOperator" type="radio" value="@modelOperator"/>
            @modelOperator
        }
        @Html.ValidationMessageFor(model => model.SelectedOperator)
    </div>
    <input class="operand" asp-for="RightOperand"/>
    @Html.ValidationMessageFor(model => model.RightOperand)
    <input hidden asp-for="Result" value="@Model.Result"/>
    <p>
        <input class="btn-primary" name="Action" type="submit" value="@Constants.Calculate"/>
        <input class="btn-primary" name="Action" type="submit" value="@Constants.Clear">
    </p>
</form>
@if (Model.Result.HasValue)
{
    <p>result of previous operation: <b>@Model.Result.Value.ToString(CultureInfo.InvariantCulture)</b></p>
    @if (ViewBag.Result == Model.Result)
    {
        <p>
            <h6>Same as before.</h6>
        </p>
    }
    else
    {
        <p>
            <h6>Not same as before.</h6>
        </p>
    }
}